.container {
  .default-type {
    .option.selected {
      border-color: #0071e3;
      border-width: 2px;
    }
    .option {
      border-color: #d2d2d7;
      outline: none;
      border-radius: 12px;
      border-style: solid;
      border-width: 1px;
      padding: 14px;
      display: flex;
      min-height: 90px;
      align-items: center;
      justify-content: space-between;
      .left-side {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .title {
          color: #1d1d1f;
          font-weight: 600;
          font-size: 17px;
        }
        .sub-title {
          font-size: 12px;
        }
      }
    }
  }
  .color-type {
    .option {
      display: flex;
      padding: 20px 0;

      .color.selected {
        border-color: #0071e3;
        border-width: 2px;
        border-style: solid;
      }

      .color {
        width: 32px;
        height: 32px;
        border-radius: 100%;

        -webkit-box-shadow: inset 2px 8px 24px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 2px 8px 24px -4px rgba(66, 68, 90, 1);
        box-shadow: inset 2px 8px 24px -4px rgba(66, 68, 90, 1);

        &:hover {
          border-style: solid;
          border-width: 1px;
          border-color: #0071e3;
        }
      }
    }
  }
}
