<div class="header bg">
    <nav class="container">
        <ul>
            <li class="li-logo">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Apple_logo_grey.svg/1724px-Apple_logo_grey.svg.png" alt="">
            </li>
            <li><a>Mac</a></li>
            <li><a>iPad</a></li>
            <li><a>iPhone</a></li>
            <li><a>Watch</a></li>
            <li><span class="search" nz-icon nzType="search" nzTheme="outline"></span></li>
            <li><span class="cart" nz-icon nzType="shopping-cart" nzTheme="outline"></span></li>
        </ul>
    </nav>
</div>

