.bar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -55px;

  .sticky-bar {
    top: 0;
    position: sticky;
    background-color: white;
    width: 100%;
    z-index: 11;

    .title {
      border-bottom: 1px solid #e8e8ed;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      overflow: hidden;

      .container {
        width: 87.5%;
        margin: auto;
        display: flex;
        align-items: center;

        .product-name {
          font-size: 21px;
          font-weight: 600;
          color: #1d1d1f;
          letter-spacing: -1px;
        }

        .price {
          text-align: right;
          margin-left: auto;
          font-size: 17px;
          font-weight: 600;
        }
      }
    }

    .features {
      border-bottom: 1px solid #e8e8ed;
      padding: 15px 0;

      .container {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        // padding: 0px 20px;
        width: 87.5%;
        margin: auto;
        font-size: 14px;

        div {
          display: flex;
          align-items: center;

          span {
            font-size: 20px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 833px) {
  .bar-container {
    .sticky-bar {

      .title {
        .container {
          .product-name {
            font-size: 19px;
          }

          .price {
            font-size: 15px;
          }
        }
      }

      .features {
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;

        .container {

          padding: 15px 20px;
          overflow: auto;
          white-space: nowrap;
          justify-content: initial;
          width: initial;
          margin: 0;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            // background: rgb(236, 61, 67);
            background: linear-gradient(-90deg, rgba(236, 61, 67, 0) 35%, rgba(255, 255, 255, 1) 70%);
            height: 100%;
            width: 45px;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            // background: rgb(236, 61, 67);
            background: linear-gradient(90deg, rgba(236, 61, 67, 0) 35%, rgba(255, 255, 255, 1) 70%);
            height: 100%;
            width: 45px;
          }

          /* Hide scrollbar for Chrome, Safari and Opera */
          &::-webkit-scrollbar {
            display: none;
          }

          /* Hide scrollbar for IE, Edge and Firefox */
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */

        }
      }
    }
  }
}

.slide-fade-in-out {
  animation: slide-fade-in-out 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-fade-in-out {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }

  51% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

// -webkit-transform: translateY(-50px);
// transform: translateY(-50px);
// opacity: 0;