<div class="bg">
    <nav>
        <div class="columns-wrapper">
            <div class="column">
                <h1>Shop and Learn</h1>
                <a>Mac</a>
                <a>iPad</a>
                <a>iPhone</a>
                <a>Watch</a>
            </div>
            <div class="column">
                <h1>Services</h1>
                <a>Apple Music</a>
                <a>Apple TV+</a>
                <a>Apple Fintess+</a>
                <a>iCloud</a>
            </div>
            <div class="column">
                <h1>About Apple</h1>
                <a>Contact Apple</a>
                <a>Events</a>
                <a>Investors</a>
                <a>Newsroom</a>
            </div>
        </div>
        <div class="space-line"></div>
        <div class="cypyright">Copyright © 2023 Apple Inc. All rights reserved.</div>
    </nav>
</div>
