<nav>
    <div class="columns-wrapper" #columnsWrapper>
        <div  class="column">
            <h1 style="border: none;" (click)='ChangeVisibility("links1")'>Shop and Learn</h1>
            <div [@column]="animState" *ngIf="isVisibleLinks1" class="links-wrapper">
                <a>Mac</a>
                <a>iPad</a>
                <a>iPhone</a>
                <a>Watch</a>
            </div>
        </div>
        <div class="column">
            <h1 (click)='ChangeVisibility("links2")'>Services</h1>
            <div [@column]="animState" *ngIf="isVisibleLinks2" class="links-wrapper">
                <a>Apple Music</a>
                <a>Apple TV+</a>
                <a>Apple Fintess+</a>
                <a>iCloud</a>
            </div>
        </div>
        <div class="column">
            <h1 (click)='ChangeVisibility("links3")'>About Apple</h1>
            <div [@column]="animState" *ngIf="isVisibleLinks3" class="links-wrapper">
                <a>Contact Apple</a>
                <a>Events</a>
                <a>Investors</a>
                <a>Newsroom</a>
            </div>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="cypyright">Copyright © 2023 Apple Inc. All rights reserved.</div>
</nav>

