<div class="header">
    <nav class="container">
        <!-- ui for mobile view -->
        <ul class="mobile-header">
            <li class="icon"><span nz-icon nzType="bars" nzTheme="outline"></span></li>
            <li class="li-logo">
                <span class="apple-icon" nz-icon nzType="apple" nzTheme="fill"></span>
            </li>
            <li class="icon"><span class="cart" nz-icon nzType="shopping-cart" nzTheme="outline"></span></li>
        </ul>
        <div class="mobile-search">mobile search</div>
        <!-- ui for desktop view  -->
        <ul class="navbar" [@navbar] *ngIf="navBarIsVisible">
            <li class="li-logo">
                <span class="apple-icon logo" nz-icon nzType="apple" nzTheme="fill"></span>
            </li>
            <li><a>Mac</a></li>
            <li class="fade-out scale-out-center"><a>iPad</a></li>
            <li><a>iPhone</a></li>
            <li><a>Watch</a></li>
            <li><button class="btn-show-search" (click)="ShowSearchView()"><span class="search-icon" nz-icon nzType="search" nzTheme="outline"></span></button></li>
            <li><button class="btn-show-cart"><span class="cart-icon" nz-icon nzType="shopping-cart" nzTheme="outline"></span></button></li>
        </ul>
        
        <!-- see when search is opened -->
        <aside [@searchview] *ngIf="searchViewIsVisible" class="searchview">
            <div class="search-content">
                <div class="search-bar">
                    <form class="search-form" action="">
                        <button class="btn-submit active">
                            <span class="search-icon" nz-icon nzType="search" nzTheme="outline"></span>
                        </button>
                        <input placeholder="Search apple.com" class="search-input" type="text">
                    </form>
                    <button (click)="CloseSearchView()" class="btn-close-searchview"><span nz-icon nzType="plus" nzTheme="outline" [nzRotate]="45"></span></button>
                </div>
                <aside class="search-results">
                    <section class="section">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            <li><a href="">Iphone 14</a></li>
                            <li><a href="">iPad</a></li>
                            <li><a href="">Mac</a></li>
                            <li><a href="">Watch</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </aside>
        <!-- see when bag is opened -->
        <aside class="bagview"></aside>
    </nav>
</div>

