$contrast-level: 200%;

button {
    background-color: transparent;
    border: none;
}
.header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 300;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar {
    color: rgb(179,179,179);
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 25px;
    max-height: 30px;
    padding-left: 0;
    margin: 10px 0;
    li {
        display: flex;
        justify-content: center;
        margin: 2px;
    }
    a {
        text-decoration: none;
        color: rgb(179,179,179);
        &:hover {
            text-decoration: none;
            filter: contrast($contrast-level);
        }
    }
    .logo {
        width: auto;
        height: 19px;
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
    .apple-icon {
        transform: scale(1.1);
        transform: translateY(1px);
        // padding-bottom: 3px;
    }
    .btn-show-search {
        padding: 0;
    }
    .search-icon {
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
    .btn-show-cart {
        padding: 0;
    }
    .cart-icon {
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
}
.searchview {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .search-content {
        max-width: 700px;
        margin: 0 auto;
        
        height: calc(100vh - 16px);
        z-index: 3;

        .search-bar {
            height: 44px;
            display: flex;
            

            .search-form {
                width: calc(100% - 45px);
                display: flex;
                

                .btn-submit {
                    padding: 0;
                    
                    &.active {
                        cursor: pointer;
                        filter: contrast($contrast-level);
                    }

                    .search-icon {
                        transform: scale(1.3);
                        width: 45px;
                        color: rgb(148, 148, 148);
                        &:hover {
                            cursor: pointer;
                            filter: contrast($contrast-level);
                        }
                    }
                }
                .search-input {
                    background-color: transparent;
                    overflow: hidden;
                    white-space: nowrap;
                    color: white;
                    border: none;
                    height: 43px;
                    font-size: 17px;
                    width: calc(100% - 45px);

                    &:focus {
                        outline: none;
                    }
                }
            }
            .btn-close-searchview {
                width: 45px;
                transform: scale(1.2);
                color: rgba(206, 205, 205, 0.732);
                &:hover {
                    cursor: pointer;
                    filter: contrast($contrast-level);
                }
            }
        }
        .search-results {
            background-color: white;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;

            .section {
                margin: 0 40px;
                padding-top: 23px;
                padding-bottom: 18px;

                h3 {
                    color: rgb(125, 125, 125);
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 1.33337;
                    margin: 0;
                }
                ul {
                    padding-top: 5px;
                    font-weight: 400;

                    li {
                        margin: 5px -32px;
                        padding: 6px 47px;
                        color: #1d1d1f;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(237, 237, 237, 0.52);

                            a {
                                color: rgb(23, 102, 239);
                            }
                        }
                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.bagview-content {
    padding: 0 20px;
    

    .btn-close-bagview {
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        float: right;
        &:hover {
            cursor: pointer;
            color: rgb(23, 102, 239);
        }
    }
    p {
        padding: 55px 0 23px;
        color: #6e6e73;
        text-align: center;
    }
    nav {
        margin: 12px 0;
        padding-bottom: 5px;
        li {
            padding: 10px 0;
            width: 246px;
            border-top: 1px solid #d2d2d7;
            
            span {
                color: #06c;
                transform: scale(1.2) translateY(-1px);
                
            }
            
            a {
                font-size: 15px;
                color: #06c;
                padding: 0 12px;
            }
        }
    }
}
.mobile-header {
    display: none;
}
.mobile-search {
    display: none;
}

@media (max-width: 833px) {
    .navbar {
        // display: none;
    }
    .container {
        display: block;
        position: relative;
        // top: -100px;
    }
    .mobile-header {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 20px;
        .btn-open-sidenav {
            padding: 0;
        }
        .logo {
            width: auto;
            height: 19px;
            &:hover {
                filter: contrast($contrast-level);
            }
        }
        .icon {
            padding-top: 2px;
            transform: scale(1.2);
        }
        .apple-icon {
            transform: scale(1.4); 
            padding-bottom: 2px;
        }
    }
    .mobile-search {
        display: block;
        position: absolute;
    }
}


