$contrast-level: 200%;

.header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 300;
}
.container {
    display: flex;
    justify-content: center;
}
.navbar {
    color: rgb(179,179,179);
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 25px;
    max-height: 30px;
    padding-left: 0;
    margin: 10px 0;
    li {
        display: flex;
        justify-content: center;
        margin: 2px;
    }
    a {
        text-decoration: none;
        color: rgb(179,179,179);
        &:hover {
            text-decoration: none;
            filter: contrast($contrast-level);
        }
    }
    .logo {
        width: auto;
        height: 19px;
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
    .search {
        transform: scale(0.9,0.9);
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
    .cart {
        transform: scale(0.9,0.9);
        &:hover {
            cursor: pointer;
            filter: contrast($contrast-level);
        }
    }
}
.mobile-header {
    display: none;
}
.mobile-search {
    display: none;
}
@media (max-width: 833px) {
    .navbar {
        display: none;
    }
    .container {
        display: block;
        position: relative;
    }
    .mobile-header {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 20px;
        .logo {
            width: auto;
            height: 19px;
            &:hover {
                filter: contrast($contrast-level);
            }
        }
        .icon {
            padding-top: 2px;
            transform: scale(1.2);
        }
    }
    .mobile-search {
        display: block;
        position: absolute;
    }
}






// animation
// my anim
.scale-out-and-fade-out {
    -webkit-animation: scale-out-and-fade-out 0.4s ease-in both;
	        animation: scale-out-and-fade-out 0.4s ease-in both;
}
@-webkit-keyframes scale-out-and-fade-out {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
}
@keyframes scale-out-and-fade-out {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
}