<div class="indentation-from-header"></div>
<div class="bg">
    <div class="ipad-pro">
        <div class="content">
            <div class="text-wrapper">
                <div class="status">
                    New
                </div>
                <div class="eyebrow">
                    iPad Pro
                </div>
                <div class="headline">
                    Supercharged by <figure class="image-chip"></figure>
                </div>
                <div class="subhead">
                    From $799
                </div>
                <div class="links">
                    <a class="link-buy" href="">Buy</a>
                    <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
                </div>
            </div>
            <figure class="image"></figure>
        </div>
    </div>
    <div class="ipad">
        <div class="content">
            <div class="text-wrapper">
                <div class="status">
                    New
                </div>
                <div class="eyebrow" >
                    iPad
                </div>
                <div class="headline">
                    Lovable. Drawable. <br> Magical.
                </div>
                <div class="subhead">
                    From $449
                </div>
                <div class="links">
                    <a class="link-buy" href="">Buy</a>
                    <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
                </div>
            </div>
            <figure class="image"></figure>
        </div>
    </div>
</div>
