.bagview-content {
  padding: 0 20px;

  .btn-close-bagview {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    float: right;

    &:hover {
      cursor: pointer;
      color: rgb(23, 102, 239);
    }
  }

  .empty-message {
    padding: 55px 0 23px;
    color: #6e6e73;
    text-align: center;
  }

  .products-list {
    padding: 47px 0 18px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .item {
      font-weight: 600;
      padding-left: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .img-container {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .item-img {
          width: 72px;
          height: 30px;
        }
      }
    }
  }

  nav {
    margin: 12px 0;
    padding-bottom: 5px;

    li {
      padding: 10px 0;
      width: 246px;
      border-top: 1px solid #d2d2d7;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      span {
        color: #06c;
        transform: scale(1.2) translateY(-1px);
      }

      a {
        font-size: 15px;
        color: #06c;
        padding: 0 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 833px) {
  .bagview-content {
    p {
      font-size: 16px;
      padding: 55px 0 40px;
      margin-bottom: auto;
    }

    nav {
      margin-bottom: 12px;
      padding-bottom: 5px;

      li {
        padding: 10px 0;
        width: 100%;
        border-top: 1px solid #d2d2d7;

        &:hover {
          cursor: pointer;
        }

        span {
          color: #06c;
          transform: scale(1.2) translateY(-1px);
        }

        a {
          font-size: 15px;
          color: #06c;
          padding: 0 12px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}