<div class="indentation-from-header"></div>
<div class="bg">
    <div class="iphone-14-pro">
        <div class="status">
            New
        </div>
        <div class="eyebrow">
            iPhone 14 Pro
        </div>
        <div class="headline">
            Pro. Beyond
        </div>
        <div class="subhead">
            $999
        </div>
        <div class="links">
            <a class="link-buy" href="">Buy</a>
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
    <div class="iphone-14">
        <div class="status">
            New
        </div>
        <div class="eyebrow">
            iPhone 14
        </div>
        <div class="headline">
            Big and bigger.
        </div>
        <div class="subhead">
            $799
        </div>
        <div class="links">
            <a class="link-buy" href="">Buy</a>
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
</div>
