<div class="indentation-from-header"></div>

<div class="bg">
    <div class="watch-ultra">
        <figure class="logo"></figure>
        <div class="headline"> 
            Adventure awaits.
        </div>
        <div class="subhead">
            $799
        </div>
        <div class="links">
            <a class="link-buy" href="">Buy</a>
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
    <div class="watch-s8">
        <div class="content">
            <div class="text-wrapper">
                <figure class="logo"></figure>
                <div class="headline">
                    A healthy leap ahead.
                </div>
                <div class="subhead">
                    From $399
                </div>
                <div class="links">
                    <a class="link-buy" href="">Buy</a>
                    <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
                </div>
            </div>
            <figure class="image"></figure>
        </div>
</div>

