.bg {
    height: 100%;
    color: white;
    letter-spacing: -2px;
    &:hover {
        cursor: pointer;
    }
}  
.iphone-14-pro {
    position: relative;
    height: 730px;
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position: relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position: relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position: relative;
    }
    .image {
        background-image: url('https://lh3.googleusercontent.com/fife/AAbDypAFx_z__8LJSrR3LzDO3gPcvFLkRGTSlCRSpHWda1nwurINhE_wbHmsJ1A6FNe5Zh7nPJZF0HQvLMU864zoS9purpFH_s5pfcSsQ4xmEyUP9jnhRCWe1i1MaMiW4kg7vw0SPup_nFyGu5koFOqR_SqSeRe5MTTmfpitoTMZWceZ5bJVbuYiM2sQJCzG3dqMSJvQuDXcqdi8WspJ1uMHB4P51ArPKu3I-QZ1l1Pb-8y6FRic0xOe2bEvm3vVUzBesii3pvENJwaUi4Gs5KN_fn83NWK1m-gSJtZQZjqFKcz5yRaW9LVxWUyPRaXmjrcPyH97PVzX-1gngqxf6RmU5LCyCo6pNWjMYi0bbekUQTOVmc_q6EQ_snSbt1wN6pGN4cvjTy2z_EjqGs2V91Ie2mbmXdoH_aCB6OoNDY134TuLMgASD8PPHQhJfUh14E-53087zcbbicUcmlwKWEhziGuNJP_Q4mzRWRGa8jQG-jsxxlEk413HNeizwEz8iGsxrbyGFo-_aA0Swl5PYC_XbZxXCvvwDa8OhPhjZqzlaG6QAtkXouZryakFawuYXTF2RZsIUy26CW3TvPQF3gYGUEvxQ0FGGZIJriFcVcA6Tq7qK3GxwzatByNrjZ6PSpqBEv53jLhzBBrXxTGdnoXf-uHxouEEmauLIKXIcZz1ueUAu9X62JnmDohWWlz3_j_U5plwltRuExE08wgypVQwBCLZkepdSMymka0kA1DLKa2xfViPq1VTs2ZKfs31EqyxX7ToTAR-OJXY-LsfASyY0aA6_llCnFOb7K-EN2DT2z5Btb4ldKGU2MO3WlkMyJqOHj-RlU5cLMXymoYUq5AViuQOGJSBWYb_C1PIikwNPf6UNQd9UlkhQVuS-gwrbPs_qjqpprnSg3lFq0sTRWLVI1BBnxJ22CZB1vw9IQcHExRJeJsOAKgnRV8Z-DPbZOEP06HGpsX35wOwur7eBrd4vus3mRWR2Q2BwSkbzIsRxY-gQ6r4ZLwKEnK5GTrtr5RSGuTkFLY5HUSUM4TMtSQvlQ49iGAiUNqOCaEx_reAlgxpKglzfkN6Q3hPm5OJlSbsCWvrhGzgAnheXVPUKC2kOJVybpi4P5t3pVXoDnikcoDzkmcLG1sReZ0-wseQJ3WmB4n1KrPktdDQdVXtdUJs0VOnF7i94_5jYZ7jksY0DkrqFn7GZ3ombkqXDU2tUtifx9TkBXilkPvX5oQiOa_jCT0tgNpuKSrxQBzyTcu6YYh5Sj1FlUDPcwnKhT70y3U03wmRicnESBHfH_XLe2ywxGH41dVeI7UmHsdyXA-O3gG3GbCYns02U_jYWnr9picgxc6Ba_0dI30UwGyUhTCUMikELqv8ppqUUZXZH-6uVqpSClxJDu1hkkrGAbkpXpa6seTZfqFgyPV-f9wDjRHmYkU5D3HPWr4MOMHCKVA1KlH2VzdxQJ3rj5f_Mj5F8mYhhNEQZ96OjIU99Knll6LuT8HjDUVyd-WH9LVxEig8s3_zp7PIBnNg4MqlP33AV15EPqweMZ_0OMT1vbWL-8FC8CUmZWgZAQ=w3008-h736');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.iphone-14 {
    background-color: #fff;
    color: black;
    position: relative;
    height: 760px;
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position:relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        color: #06c;
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        background-image: url('https://lh3.googleusercontent.com/fife/AAbDypDCjSZD9PAplUi2PCTDKHMApEgPtqgdBGRnIQZ_GByr4QTCh4Sbzm3_ipFhYkxwEJ2El7guSgRtyqbjUl42bO-MIy8DozG0S4SsBAUBSJ4UvcgDK7gNcFp2zGWB_ib3ocZIaIpcz0uhYgrQ4efk3GYtiLrhc8xXs-DL_aEw8xVLWFJSpxLeXfIKAYDq5PMCfzm0EqiGXDjHi4c9OGNPAuvr5op0MIex-gqZmf4otFUKEpWzeZpal_7anSRWCibWpm3at9EhF1gudIgIc6P85rgn7jW4Vl-LQYYAoSMKJYm_y1n39VdVRNBDWqPZ3sujdysHGJXur0qUdE_2XIyEh83wmW2u_qkgwXo3XW1FO-O_fn7kzn3wEXnSl32JPpvW0qqrNgPcZbh5dKTHlKUAKMNQiR87pl_8wChouK13-TVk7hM5iS2ap0NlASxgmz03qkQosPnifHzXIycuLvAxceSgUb8MCK5c_HhiSqbXWZ1ynYRhNAHAy6CZhiD2iLAxZqqn1ZtjINbLxlmWglnUGWYwL2VwiNXZYHqI27BJmmwuUnQQjNsmPjLGmzYWWtG4u8EHnHlqOdO2SlKi_snO9w_fZgmqTNNuQ1BTk99TTsxveGstYfkVGOWhA4eMOaPaERKAkCcMl3WixzQBPPNudYRJ_OFuuF5AgnVrSuI7JS1h7_4STAGbw7lXEDIGdXK9ekysorwOS7mbrdwJ9Xm5cJyKH5tF52D3khzQALZqcuJcPYja22aaODmDACKlptlUOcPJLJNo8i1qgglJjimDgL3XiUFplwdt09aNAMoDn9Pt3C1L3tpLEyZj2_rf9VwJJEV8pbr8f4AKB63vyIJg4xlKfdmX0j7yz7dCBhQbhRupJzWERnXYZmQIRhWT_3yKhp_chUIzUQnGMiRFE8dAA62yM-ZgLJBRfvT5aaX-Pfq1QcQ46fHr7hFierdIwyA_uTgUVTlIiYPWAtHZy9RPhP85BRIqhmBRiaMdxscAZGbY-2dKdC5fF1KdKLAPvzmQHlPIhbq7fIKna-nveJEHDUJjgN4AP1MR99P61oTzXYRc3FAdlqf5E0sckAE2-wQr1RxshJno-uZvORCuHkUU4fRJ697t_MDcZ5o8ZFYjFiZe-cs2O2l4VF6tT042DO9hq3EE0XVc2SveaciwPr6OxwgN6MjQv4ykUEEIsfLSh3JUC_ZKgxbCLrJHHS4ME_k2QPtiaeND9785fi7l-M5XlcpR2KGoAtrDUNUqSe7xSQOxE1L3bIAD_MTMK5awmvXnvEpU8FNTTLJ_id-up6GjihxscnuobOM0yjOMnUDgXCRSF5OyRfAmhMt9rfmujxkNGybDzYPJv-CrIkCQowXdrpslUTALppMiGv2kQluyxZF_umNDJ-Pu6Lb7yESyjpxBG98BKh19_vdgSkUYuyGaLubP1r83ojCYL8relyd4Q5AXFez3q63P466t_Zh2MinnyFO2cCSgnlSAwsrGfhMmRaKClv6hYVCiF5PPkjbsmOolfpWt1nADLEb323HDbUid-Rk48J_58L7TxCEf7SXelBkHxfsPOA=w3008-h736');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
}
.watch-series-8 {
    position: relative;
    height: 750px;
    .headline {
        display: flex;
        justify-content: center;
        z-index: 3;
        position:relative;
        padding-top: 60px;
        margin-bottom: 10px;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        width: 98vw;
        height: 750px;
        position: absolute;
        top: 0;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('https://lh3.googleusercontent.com/fife/AAbDypBlPl8YykaamPuMUxwKjg6fcPjvvEy2K17OGMs6qZy-BZmbH8DwooLxBTskGJNEjNVBAZrOSG15Zk0WtCUMkJEpZNhHpqX2LAV43CjHBTA_454s-2GNhF8-kERDlXAyFaUXY9UiRVrzP0QRzzHnxS40TyIAUSl4NxTxbCG7kRCldl2zEcR21b4f9yGG0sz9WKQy78n5jaNmaa1BgMki-9esgjch_ZRfaURmNhVNCV7fw4-N1W9G_zNQAvpWh0BwcPvIVPElH1hxHjIZfhLqEnU3HSFQx_1rSCIa_WM9sTZEuTGP_spR1hfpYca_AMGXzNaRKjJqar_1XHkxYmhXtQfu35zDN_GZPynIPeox0jDyJw6bxemOMJp354c734OTZrILphrv5MsaCQ_z9tQdWCQvQBXrmqa2sEW1eZlSmjoysbxe7SW1JSc6gXM5ZeC6wR98XzTLtFZ3Ox2hA49uHehPt9hpZebrJpImj4Z9aVEROCXMGeB_1jrdbikOkGVWE831pEXT9CAR6ZD8PEZx8J2L2c-by74vOvh0s24JeZGj4cbouDC5RMkG_j1N2K_NXGGfBKYikCHmU5f7GjEfV8ciQeHzF_a7qJceqnBON2AB7TXIHt8ZPGy64i2FfBqSQafJlY58r4SulcxLiXkadmekB_eqpuE_nprRIU7nQgt9hEvU8MlJcrlXa79UyQ7BfoXtruwojGRvfCww1B8ctBE2iJiQKWa13Y5rgb7u3jgO5hYdvccWFeMU4gvB_tUJKcl2GdAX2Awk3CmrwHXuRC4PhnpUkR_-DLtpSOghDWhNEFx8_T5ChFZvDvHi5hHXpzPx5ZOVnwAFVCfQydxC1gtfnleSrBw9JU8mlfbf3F4NrMpkuMaUhjTxLc5-BQofYgnqGyuol1ap_jp8Rwj7hS29Hg-LJquX9h_fMT8i5L2GPcJ8pkuCF0oWH4aXFvu7yW-mxGbTk04LHCrtthDvpozlvi39L4FzzLgc2eek0xMNCDmzLp1-Htenjph-3H6MuiJqa6veZp0MOCkbircatHY19F0h6nnGgWyviHjXX-J5LLrnC3oSXiAHXFiSliBpbpLNvyzey4F3YvrA8Yy6AS7S3Y_eIKzJQh6XQuaCXul7r8nV_nlvnG5I1Yn90CEjiSo_wXdxv_IF3A29fV9AfD65fKPjoTC3e9ZZx7x503w0Xb8iRxW2CaWUw_fmdzal919h5GfPZYAvYT9mdv-TWWFgmEya4J7TGJSD8Aam-RlHFFZvdykbdv_wBbke8ZOJi5LyiO5DjRF04BhnzefhD0dJeNm5EhgzQO06JyDTdHOB3ZGOs-Z-4oIQNYf6P-xq65Yw0LhI9o47IAO8AQbEp938RzUSVK8dDWVgsvXruP3Z_wSTTCq4_ErQmwkaZRRjP2fTVLvmWdW7pEX5bENqtEPo93jiYl3KQDkRT0UQkqQZjp0T8SoBNqK-AKRzB6sk9K2ADxjAiIkYw0BhjnypC70lVEo1bIVhpqVLfPgi6XHpr74UrLaeDUVIDX0qr920pzNboVp2iVbvAwp1_j3cuRwI_9WARA=w3008-h736');
        
    }
}


@media (max-width: 833px) {
    .bg {
        letter-spacing: -1px;
    }  
    .iphone-14-pro {
        .headline {
            font-size: 32px;
        }
        .subhead {
            font-size: 19px;
        }
        .image {
            background-image: url('https://lh3.googleusercontent.com/fife/AAbDypCqBPn5Z13_C_6tZ6z-AbT4xdfHwwplxixUzD8wrTLJpQzW513e2NS2Gav2eMBOocdGYt78E3DNws6p1hIlTvlj2FXyf8JhYCWXScSqDdGWVzazFj4JG-T1Wkg9qRNzObeGuk_7nRRiktbY1M7XPPIIA826HFaZrbEwnH-yjL-D-j6qqu4OF-3_62xv_c9MFmCvLZ4RH5kPNxvBTYB6sUb5ha1TSZr0r3jW072EPN2pMKICGNla9vrqaBcULdvjxSXGHQpJWb7BUejDaCe9f9ygtkMfKTN9WdZqrxQAVKi1htkqRcjjeG4nGCWIG41e80w5iOpm-KG4Yyk1_Jlatcrk76Qjn1ESDbtqn_sZhKBuS21z--WzIfOIDlQwRy9shCPkxp-m2Jm06BKsf7zKR8-XgK2iXksXKxg-IMBlnN34bL4y0IHXeJpnU-x1l9NjqRDfOgrkL1Fmw_Dyk2cmSuybm9y1e0Tiwd7QQPjDgNW8tk1JiyR08Md5p7Z6XjdcjPh6tGNDdYkFBL0A7Gv6crqOrjv0mi8P2yOv-lLKkikjDR4cbavlzk1CxVwIxnkBl0rFgdEIhAnzPy5KoosIVAIyI_H2SQZFHsqW5Qd7Uj2ee8drx8BYuGxADrxWWLYJvW81iumZD8ZZUwyITmD9ooeTKWg0Nry4UvQvafH4QklzvrsokJq9DZo8ijo-wCkfvFIwCFnDvGj9tNYdFgmtFD8wTmx6n2z141bhEQriF2J3yDOOfYRt4kMUaso8A_5XQqDAFFChfceTN-EteQdzIRKQKVvPIIG-1eYigzpH-o2vQ2J2J1hy4DEwa0Hid5tzmdYefTQaaQVwbOSQAuJeisKOr7AumBjUKYM7VJ1iieUfUVgarXPpGTEuKDnmP4C0vLYAAlfRDsbSIxV2ED5AMjCw149B8QS97Q21Chb9aydoiW4IfiuzaPMtF3qhU7bTbCiEAODVi6o3PYF8gJL7izLU2wnIQDIL6ngyOSelxm_uQ09ecSKQ6lgBxxYoTLkiQPBfOIuFiwq8KS5McPrOqhroT3Ak2asozBwY5eALf_6WgWlkHRqa9fM5YWAM7RVUnwRHg9nauHPZUExuDYDHBQ8KAri34xJYabRMx9_pDwgBYs9pBQW1RJt-8mFtJwUg-MIYxLJIMXlLBZAjU_qY1EuDAqch7KftEx7p78ZElTA-NqhdiGmYyzDPeqqTMpyye-ZCklVk0aUsi8jEQT4SP93eDuVXDMrSHJSviZEIdC_Ci_HT4IVLpvcjAYiLQyxnFNF4UxOHZa0p4fG43mpgnq0d58ZYmliSsRQAL4z7wBU7MndZzPqL48NR41kGmoFFz4s89h1pgA6DecUxI8-l2ocXzUiCDm11rRshvjzJDstM9T_mTmHUx7TsCW3oS60aVOTS-VadJhMFKqMily5flyAJMySpQxoigMWJ-QJDmNZ_fNh8xwuxJiQEHX1As15HKnpKqnvj8ypcssoQ84G5_UTJrTdtBDFHvhMAFgTKktDJuJohGodLkHmljzTgN2Lip6tGS7qpD9wPCfRF4w7QyBhVzq1EuA=w1468-h1096');
            position: absolute;
            top: 0;
            width: 3008px;
            height: 750px;
            width: 99vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .iphone-14 {
        background-color: #fff;
        color: black;
        position: relative;
        height: 605px;
        .image {
            width: 99vw;
            background-image: url('https://lh3.googleusercontent.com/fife/AAbDypCs7_qZtniPB8a7ZEJQKHcXm2eR41YPc6NxLgc4IJUQUj-1K74EWU0zzyMB1Wn-_7XJejt7s6L42PNo573cLA_noUl-2NfNIY_WP0cp2kFrO0pq73uyNADmcqJC5LwD0ra-9M0pmHGZOlQcAdZH1VCgRzzdB6VCMyJmpdkq5kXwzsgDdLjGfB3YI8Nq4XcXlSU-ykN23ilBS-j9f-pFTUHg8ir9uBxXwuSiWsZuobPtd4HgBxMlGDHxNrue94VANm_5ih__JJ9BMv-PgwESeuJrQdEJdZaq8Ym4bWqOKcGwNm111g_G0zpPUEWPymmFnw3zIJqaXIh1Xo0ioEDvNPWRVAk-VwHSYqA4g0ke8RGoKqUm4jZyJhQYVtgOZUGYRqMaVF3O0FHOTnWc4rTAhB4OVrYGjkU3BbBAKBoaTgFOwCGGNAE6ZcXSdfKY0YwwwAJX8x4i61FppnNtlBKnpq-uxLW8aAlxt_QPI3XpZUL7DNKpTi59OGI0Usj02UxNT9XfyuoAoyNxEQvUNz50CeJTRfV33gonbbKarj37kvoUI9ThasxmDuAVNN4Q5DRgxFd9ozoeZLT_ckScTG9n2E7vuN9ShJvvziRdC3hyuD4Nm5PQRLeuDFp-nyyXVrlXW5kR5xrLBYuo2Lz22T71ZM1ckABZAer_M6NhM-sT-WLH4vgxeAGlDK-1Cj3hVd_Mc1OfBe1Bvaa6zAqe4rfX9hGlcM8gq01arts5-M3O2cKAxA3TTwPF8t1cQS8iBDpzMe44nCMODKjAKyfSwUW3mt0yG3W5kKUQ6ZYfPjXmI4_UJ1mJkfvuCgDi5eHc1S50fqI5iCNwLHRA6hgPBqJr7rCdoEDDHhCbu5LMnpw6WHOFx5W4eJ-QL7DNyhcu6RQh6_I01EY32xX08iw_ib6qz_kzNvK7Peo_se30ZYeDH6lA2gjr_dQLyoA4CZDMrK5U_Uyk-hb2W_7mGG9ynqpmi2m_dqJY6oS_4AAt9eVnRn3xq7vbcKKLz0rHgJpeABRCSe6Ek-12Y_jiTaBn_TpcWGt8FXlw_nYbSofp1kcty_vQugYD1gvh_iygjf6ufNJn0mkWf5r6aWTs2jQitoPfH1OagmFDwOiLf_sDg9EEqDp9rYZLKBTuy7NvgdCmC99msFHNbqNOR0oGy2XBN-uEqa9S9ijLUUNrGrKW7TyqmFmoMZwrU_b5NB0zxIr34RNf2uxQyAbH9O-H4ZnF-1M9aAVI3oyrQXeSGM1WHo0Hu71GkfqRmLRhp1CWE6Xa2g7QmWMgPhNsFwAvRlz8uGx7l2Oh_5-XSgBIxGYcQldylFTHxlGOc-8cyYXeGi82LKNMCBPjbRC6SKjo7snL9q89a3dJsMJrc5ENqAOoUTRXvjxkyrNakqDXYW_aF8zdqV4zWvQu8hGDtm4FNhJlcOA4P_QzmgogEIphqZouq4ljoyFBVq-8bqNlTibgjJ457ftFaiYKTyWL46tYO1PnwGJhgqK5qNLjxziW-80q18DLZaaxyWEN50aKqhOkhBAdeb8PFb_NWB82i1kTAuAclIN1viIf9S1ESg=w1468-h1096');
            position: absolute;
            top: -55px;
            background-repeat: no-repeat;
            background-size: 734px 548px;
            background-position: center;
        }
    }
    .watch-series-8 {
        position: relative;
        height: 550px;
        align-items: center;
        .image {
            width: 99vw;
            max-height: 400px;
            position: absolute;
            transform:translateY(150px);
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 1500px 400px;
            background-position: center;
            background-image: url('https://lh3.googleusercontent.com/fife/AAbDypBlPl8YykaamPuMUxwKjg6fcPjvvEy2K17OGMs6qZy-BZmbH8DwooLxBTskGJNEjNVBAZrOSG15Zk0WtCUMkJEpZNhHpqX2LAV43CjHBTA_454s-2GNhF8-kERDlXAyFaUXY9UiRVrzP0QRzzHnxS40TyIAUSl4NxTxbCG7kRCldl2zEcR21b4f9yGG0sz9WKQy78n5jaNmaa1BgMki-9esgjch_ZRfaURmNhVNCV7fw4-N1W9G_zNQAvpWh0BwcPvIVPElH1hxHjIZfhLqEnU3HSFQx_1rSCIa_WM9sTZEuTGP_spR1hfpYca_AMGXzNaRKjJqar_1XHkxYmhXtQfu35zDN_GZPynIPeox0jDyJw6bxemOMJp354c734OTZrILphrv5MsaCQ_z9tQdWCQvQBXrmqa2sEW1eZlSmjoysbxe7SW1JSc6gXM5ZeC6wR98XzTLtFZ3Ox2hA49uHehPt9hpZebrJpImj4Z9aVEROCXMGeB_1jrdbikOkGVWE831pEXT9CAR6ZD8PEZx8J2L2c-by74vOvh0s24JeZGj4cbouDC5RMkG_j1N2K_NXGGfBKYikCHmU5f7GjEfV8ciQeHzF_a7qJceqnBON2AB7TXIHt8ZPGy64i2FfBqSQafJlY58r4SulcxLiXkadmekB_eqpuE_nprRIU7nQgt9hEvU8MlJcrlXa79UyQ7BfoXtruwojGRvfCww1B8ctBE2iJiQKWa13Y5rgb7u3jgO5hYdvccWFeMU4gvB_tUJKcl2GdAX2Awk3CmrwHXuRC4PhnpUkR_-DLtpSOghDWhNEFx8_T5ChFZvDvHi5hHXpzPx5ZOVnwAFVCfQydxC1gtfnleSrBw9JU8mlfbf3F4NrMpkuMaUhjTxLc5-BQofYgnqGyuol1ap_jp8Rwj7hS29Hg-LJquX9h_fMT8i5L2GPcJ8pkuCF0oWH4aXFvu7yW-mxGbTk04LHCrtthDvpozlvi39L4FzzLgc2eek0xMNCDmzLp1-Htenjph-3H6MuiJqa6veZp0MOCkbircatHY19F0h6nnGgWyviHjXX-J5LLrnC3oSXiAHXFiSliBpbpLNvyzey4F3YvrA8Yy6AS7S3Y_eIKzJQh6XQuaCXul7r8nV_nlvnG5I1Yn90CEjiSo_wXdxv_IF3A29fV9AfD65fKPjoTC3e9ZZx7x503w0Xb8iRxW2CaWUw_fmdzal919h5GfPZYAvYT9mdv-TWWFgmEya4J7TGJSD8Aam-RlHFFZvdykbdv_wBbke8ZOJi5LyiO5DjRF04BhnzefhD0dJeNm5EhgzQO06JyDTdHOB3ZGOs-Z-4oIQNYf6P-xq65Yw0LhI9o47IAO8AQbEp938RzUSVK8dDWVgsvXruP3Z_wSTTCq4_ErQmwkaZRRjP2fTVLvmWdW7pEX5bENqtEPo93jiYl3KQDkRT0UQkqQZjp0T8SoBNqK-AKRzB6sk9K2ADxjAiIkYw0BhjnypC70lVEo1bIVhpqVLfPgi6XHpr74UrLaeDUVIDX0qr920pzNboVp2iVbvAwp1_j3cuRwI_9WARA=w3008-h736');
        }
    }
}






