.bg {
    height: 100%;
    color: white;
    letter-spacing: -2px;
    &:hover {
        cursor: pointer;
    }
}  
.iphone-14-pro {
    position: relative;
    height: 730px;
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position: relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position: relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position: relative;
    }
    .image {
        background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component.iphone14-pro.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LmlwaG9uZTE0LXByby5qcGciLCJpYXQiOjE2NzQyMzQ4MjEsImV4cCI6MTczNzMwNjgyMX0.BNdP-qDKnJrngXMEDnTmbm36jlAv0oR-qD9WKCNF5ZY&t=2023-01-20T17%3A13%3A41.842Z');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
}
.iphone-14 {
    background-color: #fff;
    color: black;
    position: relative;
    height: 760px;
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position:relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        color: #06c;
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component.iphone-14.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LmlwaG9uZS0xNC5qcGciLCJpYXQiOjE2NzQyMzQ3OTMsImV4cCI6MTczNzMwNjc5M30.uZuxlvPw5_8avqEyOyvK1xGYZEE0Urkm7VRLvVzqsoA&t=2023-01-20T17%3A13%3A13.562Z');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
}
.watch-series-8 {
    position: relative;
    height: 750px;
    .headline {
        display: flex;
        justify-content: center;
        z-index: 3;
        position:relative;
        padding-top: 60px;
        margin-bottom: 10px;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        width: 98vw;
        height: 750px;
        position: absolute;
        top: 0;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component.watch-series-8.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LndhdGNoLXNlcmllcy04LmpwZyIsImlhdCI6MTY3NDIzNDg2OCwiZXhwIjoxNzM3MzA2ODY4fQ.Yw2gQKd5Cet4RT0au074hfRTXKZOUh5EichyG-wqQ7g&t=2023-01-20T17%3A14%3A28.623Z');
        
    }
}


@media (max-width: 833px) {
    .bg {
        letter-spacing: -1px;
    }  
    .iphone-14-pro {
        .headline {
            font-size: 32px;
        }
        .subhead {
            font-size: 19px;
        }
        .image {
            background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component-mobile.iphone14pro.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LW1vYmlsZS5pcGhvbmUxNHByby5qcGciLCJpYXQiOjE2NzQyMzQ3NjAsImV4cCI6MTczNzMwNjc2MH0.zP5eOrumpiyHiRsSNTvnjo-YqtTWkg78Q--wjObHWmk&t=2023-01-20T17%3A12%3A40.524Z');
            position: absolute;
            top: 0;
            width: 3008px;
            height: 750px;
            width: 99vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .iphone-14 {
        background-color: #fff;
        color: black;
        position: relative;
        height: 605px;
        .image {
            width: 99vw;
            background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component-mobile.iphone14.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LW1vYmlsZS5pcGhvbmUxNC5qcGciLCJpYXQiOjE2NzQyMzQ2OTIsImV4cCI6MTczNzMwNjY5Mn0.ty7YOGPbuyeoMqZnPXxpf3RTpfuamI1PSvBDHyYQmUE&t=2023-01-20T17%3A11%3A31.961Z');
            position: absolute;
            top: -55px;
            background-repeat: no-repeat;
            background-size: 734px 548px;
            background-position: center;
        }
    }
    .watch-series-8 {
        position: relative;
        height: 550px;
        align-items: center;
        .image {
            width: 99vw;
            max-height: 400px;
            position: absolute;
            transform:translateY(150px);
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 1500px 400px;
            background-position: center;
            background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component.watch-series-8.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LndhdGNoLXNlcmllcy04LmpwZyIsImlhdCI6MTY3NDIzNDg2OCwiZXhwIjoxNzM3MzA2ODY4fQ.Yw2gQKd5Cet4RT0au074hfRTXKZOUh5EichyG-wqQ7g&t=2023-01-20T17%3A14%3A28.623Z');
        }
    }
}






