.bg {
    height: 100%;
    color: white;
    letter-spacing: -2px;
    &:hover {
        cursor: pointer;
    }
}  
.iphone-14-pro {
    position: relative;
    height: 730px;
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position: relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position: relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position: relative;
    }
    .image {
        background-image: url('https://s383vla.storage.yandex.net/rdisk/b084a7d665dec33e74fc3846803def7873097d0a3d60fd071f33291f36b46425/63c87342/cX2qL_aaUcN0DlnoW1wNtaPSKSuSMxmIhlQCjEJTipKBHkwYecE7LxosQBIrye8rtU3pSWGTzUUoMQvMbtnDFQ==?uid=1117172225&filename=home-component.iphone14-pro.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=78108&hid=baf4b77b1f427dc2a4fd2c11f0ba760b&media_type=image&tknv=v2&etag=92fe6faa999000d3676abdfd3d0f4305&rtoken=oH6LLBHore8c&force_default=yes&ycrid=na-60dbdc002460fb474f81c0cb25a424ac-downloader15f&ts=5f29160b1d480&s=50d9de2e873609dbb030aba30ba60963dfaf30433bff142b492712f970c8f946&pb=U2FsdGVkX19bPs32q16JusAuGXM9qC-aKfDtCUHUWRumSaJOoSlu6b0WMwQBIhCeFlnSsY_aSLco8YPSFhyxEDG3KpLWr3uGHZLZRS6Dp8Y');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
}
.iphone-14 {
    background-color: #fff;
    color: black;
    position: relative;
    height: 760px;
    .headline {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-weight: 600;
        font-size: 56px;
        z-index: 3;
        position:relative;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        color: #06c;
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        background-image: url('https://s828sas.storage.yandex.net/rdisk/c8399106cb804450892a2a3fbb493f199d6e84ee660ae37d3aa923ad2f8d1389/63c8737a/rCX63f8OK0jcqgIeuiMPtryCc5gTWabMN5xMVtt7ZeGm_E1W6QQNSD_ZlkY5V96TTS--CT2b5DDS53EfpkBoHQ==?uid=1117172225&filename=home-component.iphone-14.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=83754&hid=c4b3279e753b56ea353f76bb46d5a05b&media_type=image&tknv=v2&etag=2d18fa904c4509252b7df02e92a497dd&rtoken=WqxlE27fKzjP&force_default=yes&ycrid=na-036efa80b90af85c20e1454e9cae9852-downloader20h&ts=5f29164085280&s=d6f31a6ab174b7762569e2b76f2cc78844bf31d90b61300ebbb174de022784ea&pb=U2FsdGVkX19kot4dNzmtMX_XGH_yiueqmynmSEZiZGksZabjsQYwpMWVmrT6YwZWSGhX2R71B8ZLPi_zISJITUn3hoiDTHSYBBQLSSm6owc');
        position: absolute;
        top: 0;
        width: 3008px;
        height: 750px;
        max-width: 99.1vw;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
}
.watch-series-8 {
    position: relative;
    height: 750px;
    .headline {
        display: flex;
        justify-content: center;
        z-index: 3;
        position:relative;
        padding-top: 60px;
        margin-bottom: 10px;
    }
    .subhead {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 28px;
        z-index: 3;
        position:relative;
    }
    .links {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 13px;
        z-index: 3;
        position:relative;
    }
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .image {
        width: 98vw;
        height: 750px;
        position: absolute;
        top: 0;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('https://s14iva.storage.yandex.net/rdisk/5a15ec375bcd6c0564c07efb66ed089b0f638d27b4ca5ef441e6acf136c337fe/63c873c2/rCX63f8OK0jcqgIeuiMPtnBiq4-b4rS529_IrNa9BqoOpeSbwP4E5oii4kzPGRwzNmD2BkUdqEjMeDJAqMixHg==?uid=1117172225&filename=home-component.watch-series-8.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=117368&hid=aeb5857d87ae693baad7f93aa2abc1e8&media_type=image&tknv=v2&etag=08c3fbbe10951f9cd67a1149f32b677f&rtoken=SGqUNqvIVaAP&force_default=yes&ycrid=na-af379e32d335974607d10b9aaedde4c7-downloader18f&ts=5f2916852f480&s=8ec0099dbee32a08589a2af2512b8effae20f19e199946f5ee348e5605ff8a90&pb=U2FsdGVkX1-C7h3v8iGPiJyn74FMocTjUSQZS5dFB4ShJDX250KQIa5rk4XRYyFTzGowWioAlJ3D-pscVX4ncDCuRi5oIhgH_wHXwafPufg');
        
    }
}


@media (max-width: 833px) {
    .bg {
        letter-spacing: -1px;
    }  
    .iphone-14-pro {
        .headline {
            font-size: 32px;
        }
        .subhead {
            font-size: 19px;
        }
        .image {
            background-image: url('https://s847sas.storage.yandex.net/rdisk/48802b87de51df268c35274e52b13755e050f749ba3459fdc31248af073690d7/63c873e2/rCX63f8OK0jcqgIeuiMPtn6aYT5Sk9ygXsm4Sw6z_m1VtPr77BKu4UuJxhYDhyyCvZOI1RD5peVi7vQPlIJrFw==?uid=1117172225&filename=home-component-mobile.iphone14pro.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=65714&hid=e9dfd28d36544e54d8a726ec15a88a89&media_type=image&tknv=v2&etag=9c1adbd1b83907dd5cb32af7a5583699&rtoken=O0yWFgXN42lZ&force_default=yes&ycrid=na-dbd42e7cf7003713ad772dbda49326da-downloader19h&ts=5f2916a3b3c80&s=df9c3db56d979174c0fd5e569d99ddbb4e34b1ea3f120439a449a700384f9cd3&pb=U2FsdGVkX1-yyXYw5U6cebESsSHTAseJAg32UNZTgKctelPxFbL29ecpIqKqFDChSWG4upBO0dqLK9vySrbU15FaODw6BCoXa3WerrZeEPY');
            position: absolute;
            top: 0;
            width: 3008px;
            height: 750px;
            width: 99vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .iphone-14 {
        background-color: #fff;
        color: black;
        position: relative;
        height: 605px;
        .image {
            width: 99vw;
            background-image: url('https://s145vla.storage.yandex.net/rdisk/7d201eb90925a783538acadacf4bbf51aff463c487655c181740fadfecfbe21c/63c873fa/rCX63f8OK0jcqgIeuiMPtmmnXH_5btIUDXr3Sl6dtS0S6X7n9yzJbjlRo9CYuu8kyS7BGso5iE5v6tpexf9D9g==?uid=1117172225&filename=home-component-mobile.iphone14.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=102030&hid=6e9681b57f4d3921580c90731f358f89&media_type=image&tknv=v2&etag=c393b8e789296b4ca614ef6b076014e0&rtoken=32lQ5ODBDqU8&force_default=yes&ycrid=na-f53ed4c6afd86196a84d4f41f8fc11e5-downloader12f&ts=5f2916ba97280&s=604ad96d5c809b10e278281062db9f0581f9576435fc6803fca2ce4ce67a2468&pb=U2FsdGVkX19XDtvpUU_FLqLn9LtTR7Qd0yeo2dJo6MFo8LCPAA3KTjHFde6jUTzoTm2fj4ESRem3BO5bIWOw4lIzsN9dqFyJpmTCw9x7ZAE');
            position: absolute;
            top: -55px;
            background-repeat: no-repeat;
            background-size: 734px 548px;
            background-position: center;
        }
    }
    .watch-series-8 {
        position: relative;
        height: 550px;
        align-items: center;
        .image {
            width: 99vw;
            max-height: 400px;
            position: absolute;
            transform:translateY(150px);
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 1500px 400px;
            background-position: center;
            background-image: url('https://s14iva.storage.yandex.net/rdisk/f0bf99e13acc0461be6bdecabb95659c36b7ee3838438e9f45dccfd022829832/63c8741e/rCX63f8OK0jcqgIeuiMPtnBiq4-b4rS529_IrNa9BqoOpeSbwP4E5oii4kzPGRwzNmD2BkUdqEjMeDJAqMixHg==?uid=1117172225&filename=home-component.watch-series-8.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1117172225&fsize=117368&hid=aeb5857d87ae693baad7f93aa2abc1e8&media_type=image&tknv=v2&etag=08c3fbbe10951f9cd67a1149f32b677f&rtoken=DbGXSGzBLrKR&force_default=yes&ycrid=na-6e184dcb1666e2d68de9e2866c801139-downloader23f&ts=5f2916dcec380&s=650ad5e42ed193bf0d6e2f11f1f677237069bc82d9c349a192c9f31c0ba05227&pb=U2FsdGVkX18yl6xeOkKMPDBieGmG4SUfjhB3Pts6oau4oMokJjcMMPBkzR4YvZUKnDPDkhw03YI82JdvjuKcLiapIf3KiG-LbzrcolUSTzs');
        }
    }
}






