<div class="bg">
    <div class="headline">
        iPhone 14 Pro
    </div>
    <div class="subhead">
        Pro. Beyond.
    </div>
    <div class="links">
        <a class="learn" href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        <a href="">Buy <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
    </div>
    <img class="ip" src="https://www.apple.com/v/iphone-14-pro/a/images/overview/camera/header/camera_intro_endframe__coj6fqeqg7iq_large.jpg" alt="">
</div>