<div class="bg">
    <div class="iphone-14-pro">
        <div class="headline">
            iPhone 14 Pro
            
        </div>
        <div class="subhead">
            Pro. Beyond.
        </div>
        <div class="links">
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
            <a href="">Buy <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
    <div class="iphone-14">
        <div class="headline">
            iPhone 14
        </div>
        <div class="subhead">
            Big and bigger.
        </div>
        <div class="links">
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
            <a href="">Buy <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
    <div class="watch-series-8">
        <div class="headline">
            <img src="https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/home/home-component.watch-series-8-logo.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9ob21lL2hvbWUtY29tcG9uZW50LndhdGNoLXNlcmllcy04LWxvZ28ucG5nIiwiaWF0IjoxNjc0MjM0OTk0LCJleHAiOjE3MzczMDY5OTR9.IQiCtUJ30wrvdm0Sdb3zKBeLEeyOv0IkneI7SzFArpQ&t=2023-01-20T17%3A16%3A34.576Z" alt="">
        </div>
        <div class="subhead">
            A healthy leap ahead.
        </div>
        <div class="links">
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
            <a href="">Buy <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
</div>