.bg {
    height: 100%;
    color: white;
    .iphone-14-pro {
        .headline {
            display: flex;
            justify-content: center;
            padding-top: 100px;
            font-weight: 600;
            font-size: 56px;
        }
        .subhead {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 28px;
        }
        .links {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 21px;
            gap: 20px;
            margin-top: 13px;
        }
        a:hover {
            text-decoration-line:underline;
        }
        a {
            .right-icon {
                transform: scale(0.8,0.8);
            }
        }
        .image {
            width: 99.1vw;
        }
    }
    .iphone-14 {
        background-color: #fff;
        color: black;
        position: relative;
        .headline {
            display: flex;
            justify-content: center;
            padding-top: 60px;
            font-weight: 600;
            font-size: 56px;
            z-index: 3;
            position:relative;
        }
        .subhead {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 28px;
            z-index: 3;
            position:relative;
        }
        .links {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 21px;
            gap: 20px;
            margin-top: 13px;
            z-index: 3;
            position:relative;
        }
        a:hover {
            text-decoration-line:underline;
        }
        a {
            color: #06c;
            .right-icon {
                transform: scale(0.8,0.8);
            }
        }
        .image {
            width: 99.1vw;
            height: 750px;
            object-fit: none;
            position: absolute;
            top: 0;
            z-index: 1;
        }
    }
}
.bg:hover {
    cursor: pointer;
}






