.column {
  h1 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 5px;
    span {
      display: none;
    }
  }
  a {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #424245;
    &:hover {
      text-decoration-line: underline;
    }
  }
  hr {
    display: none;
  }
}

@media (max-width: 833px) {
  .column {
    hr {
      display: block;
      background-color: lightgray;
      border: none;
      height: 1px;
      width: 100%;
    }
    .links-wrapper {
      margin-bottom: 10px;
      overflow: hidden;
    }
    h1 {
      position: relative;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -1px;
      margin-bottom: 5px;
      color: #444;
      cursor: pointer;
      padding: 10px;
      width: 95%;

      text-align: left;
      outline: none;
      font-size: 15px;
      span {
        display: initial;
        position: absolute;
        top: 12px;
        right: 0;
      }
    }
    a {
      overflow: hidden;
      padding-left: 20px;
    }
  }
}
