.indentation-from-header {
  margin-top: 42px;
}

.bg {
  position: relative;
  background-color: #fff;
  color: black;
  padding-top: 5px;
  padding-bottom: 100px;

  .container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  row-gap: 20px;

  .title {
    .badge {
      margin-left: 3px;
      font-size: 17px;
      color: #bf4800;
    }

    h1 {
      color: #1d1d1f;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .price {
      margin-left: 3px;
      font-size: 14px;
      color: #1d1d1f;
    }
  }

  .right-section {
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sales {
      display: flex;
      font-size: 12px;
      padding: 12px 16px;
      color: #1d1d1f;
      border-radius: 18px;
      background-color: #f5f5f7;

      span {
        margin-left: 10px;
        transform: translateY(1px);
      }
    }
  }
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-bottom: 100px;

  .left-column {
    flex-basis: 65%;
    max-width: 65%;
    top: 109px;
    height: 80vh;
    padding-bottom: 40px;
    position: sticky;

    .lf-container {
      background: white;
      height: 100%;
      width: 94%;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      position: relative;

      .img-container {
        height: 100%;
        width: 100%;
        max-height: 1200px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        img {
          width: auto;
          height: 100%;
          max-width: none;
          max-height: 1200px;
          display: block;
          border-radius: 18px;
        }
      }
    }
  }

  .right-column {
    padding-top: 145px;
    flex-basis: 35%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

@media (max-width: 833px) {
  .header {
    .title {
      h1 {
        font-size: 40px;
      }
    }
  }

  .main-row {
    flex-direction: column;
    align-content: center;
    align-items: center;

    .left-column {
      flex-basis: auto;
      max-width: 90vw;
      position: relative;
      top: 0px;
    }

    .right-column {
      padding-top: 60px;
    }
  }
}

// sticky

// .wrapper {
//     height: 2000px;
//     width: 700px;
//     background-color: blue;
// }
// .block {
//     height: 600px;
//     width: 500px;
//     background-color: red;
//     position: sticky;
//     display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 70px;
// }