/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    margin: 0;
    color: rgb(179,179,179);
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.2;
    height: 100%;
}
p {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
figure {
    margin: 0;
}
input {
    &:focus {
        outline: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
// body {
//     height: 100%;
//     overflow-y: hidden;
// }
// image expire time 63 072 000 s

// poor ui library makes me overwrite styles here :(
@media (max-width: 833px) { 
    .bagview-popover {
        .ant-popover-arrow {
            display: none;
        }
        .ant-popover-inner {
            border-radius: 0px;
        }
        
    }
}
