.indentation-from-header {
    margin-top: 43px;
}
.bg {
    background-color: #fff;
}
.mac-pro {
    position: relative;
    height: 706px;
    max-height: 706px;
    padding-top: 50px;
    margin-bottom: 10px;
    background-color: black;
    text-align: center;
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .status {
        display: flex;
        justify-content: center;
        color: #f56300;
        font-size: 17px;
        z-index: 3;
        position: relative;
        font-weight: 600;
        // padding: 10px 0;
    }
    .eyebrow {
        display: flex;
        justify-content: center;
        position: relative;
        color: #f5f5f7;
        font-weight: 600;
        font-size: 48px;
        padding: 10px 0;
        z-index: 3;
        
    }
    .headline {
        display: flex;
        justify-content: center;
        position: relative;
        color: #f5f5f7;
        font-weight: 600;
        font-size: 24px;
        z-index: 3;
        
    }
    .subhead {
        display: flex;
        justify-content: center;
        position: relative;
        color: white;
        font-weight: 400;
        font-size: 17px;
        padding-top: 15px;
        z-index: 3;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2997ff;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 29px;
        z-index: 3;
        position: relative;
        .link-buy {
            font-size: 17px;
            color: white;
            background: #0071e3;
            border-radius: 980px;
            padding: 8px 16px;
            
        }
    }
    .image {
        background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/mac/mac.component.macbook_pro_14_16.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9tYWMvbWFjLmNvbXBvbmVudC5tYWNib29rX3Byb18xNF8xNi5qcGciLCJpYXQiOjE2NzQ4NTYwMTUsImV4cCI6MTczNzkyODAxNX0.hsnv3dUdafIdV6C5yhuYO8P6Kn7ILEwKsv2AUHMCST0&t=2023-01-27T21%3A46%3A55.133Z');
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 362px;
        max-height: 362px;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
}
.mac-mini {
    position: relative;
    height: 706px;
    max-height: 706px;
    padding-top: 50px;
    text-align: center;
    a {
        .right-icon {
            transform: scale(0.8,0.8);
        }
        &:hover {
            text-decoration-line:underline;
        }
    }
    .status {
        display: flex;
        justify-content: center;
        color: #f56300;
        font-size: 17px;
        z-index: 3;
        position: relative;
        font-weight: 600;
        // padding: 10px 0;
    }
    .eyebrow {
        display: flex;
        justify-content: center;
        position: relative;
        color: #f5f5f7;
        font-weight: 600;
        font-size: 48px;
        padding: 10px 0;
        z-index: 3;
        
    }
    .headline {
        display: flex;
        justify-content: center;
        position: relative;
        color: #f5f5f7;
        font-weight: 600;
        font-size: 24px;
        z-index: 3;
        
    }
    .subhead {
        display: flex;
        justify-content: center;
        position: relative;
        color: white;
        font-weight: 400;
        font-size: 17px;
        padding-top: 15px;
        z-index: 3;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2997ff;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: -1px;
        gap: 20px;
        margin-top: 29px;
        z-index: 3;
        position: relative;
        .link-buy {
            font-size: 17px;
            color: white;
            background: #0071e3;
            border-radius: 980px;
            padding: 8px 16px;
            
        }
    }
    .image {
        background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/mac/mac-component.mac_mini.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9tYWMvbWFjLWNvbXBvbmVudC5tYWNfbWluaS5qcGciLCJpYXQiOjE2NzQ4NTgzMjUsImV4cCI6MTczNzkzMDMyNX0.Q5p7_5k9iy0rX1Qrzb-pvSH31lfq56DcfDNo8HAGzY0&t=2023-01-27T22%3A25%3A25.951Z');
        position: absolute;
        top: 0;
        width: 100vw;
        height: 700px;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
}

@media (max-width: 833px) { 
    .mac-pro {
        .image {
            background-image: url('https://eeigbpnwppglujxeybsb.supabase.co/storage/v1/object/sign/apple-store/mac/mac.component.macbook_pro_14_16Mobile.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHBsZS1zdG9yZS9tYWMvbWFjLmNvbXBvbmVudC5tYWNib29rX3Byb18xNF8xNk1vYmlsZS5qcGciLCJpYXQiOjE2NzQ4NjIxMzEsImV4cCI6MTczNzkzNDEzMX0.ykoZjKnu3w9zZ55QgyJ9v-L89WgsCzQpt8IA9tdgIDs&t=2023-01-27T23%3A28%3A51.593Z');
        }
    }
}