<div class="indentation-from-header"></div>
<div class="bg">
    <div class="mac-pro">
        <div class="status">
            New
        </div>
        <div class="eyebrow" [@fade-in-on-start]>
            MacBook Pro
        </div>
        <div class="headline">
            Mover. Maker. Boundary breaker.
        </div>
        <div class="subhead">
            From $1999
        </div>
        <div class="links">
            <a class="link-buy" href="">Buy</a>
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
    <div class="mac-mini">
        <div class="status">
            New
        </div>
        <div class="eyebrow">
            Mac mini
        </div>
        <div class="headline">
            More muscle. More hustle.
        </div>
        <div class="subhead">
            From $599
        </div>
        <div class="links">
            <a class="link-buy" href="">Buy</a>
            <a href="">Learn more <span class="right-icon" nz-icon nzType="right" nzTheme="outline"></span></a>
        </div>
        <figure class="image"></figure>
    </div>
</div>
