.indentation-from-header {
  margin-top: 42px;
}

.bg {
  background-color: white;
  min-height: 600px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;

  header {
    padding-bottom: 100px;

    h1 {
      color: black;
      font-weight: 600;
      font-size: 40px;
    }

    h2 {
      padding-top: 20px;
      padding-left: 2px;
      color: black;
      font-size: 17px;

    }
  }

  .items-list {
    padding: 0 25px;
    gap: 40px;
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      border-bottom: 1px solid #bbbbbb;
      padding-bottom: 30px;


      .full-name {
        color: #1d1d1f;
        font-size: 24px;
        font-weight: 600;
        max-width: 400px;
        margin: 0 auto;
      }

      .amount-of-items {
        width: 50px;
        margin: 0 auto;

        select {
          border: 1px solid white;
          color: black;
          font-size: 20px;

          &:focus-visible {
            outline-color: #0071E3;
          }
        }
      }


      .img-container {
        width: 200px;
        margin: 0 auto;
        height: 148px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .item-img {
          width: 300px;
          height: 166px;
        }
      }

      .remove-btn {
        color: #0071E3;
        font-size: 17px;
        cursor: pointer;
      }

      .price {
        color: #1d1d1f;
        font-size: 21px;
        font-weight: 600;
        margin: 0 auto;
      }
    }
  }

  .no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .title {
      font-size: 40px;
      font-weight: 600;
      color: #1d1d1f;
    }

    .link-continue {
      background: #0071e3;
      color: white;
      font-size: 17px;
      padding: 18px 31px;
      max-width: 400px;
      border-radius: 12px;
      cursor: pointer;
      text-align: center;
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    color: black;
    max-width: 75%;
    font-size: 17px;
    padding: 60px 25px 60px 0;

    .sub-total-price {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }

    .shipping-price {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: #d0d0d0 solid 1px;
    }

    .total-price {
      font-size: 24px;
      font-weight: 600;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
    }

    .link-check-out {
      display: flex;
      background: #0071e3;
      color: white;
      font-size: 17px;
      padding: 13px 31px;
      margin-top: 30px;
      min-width: 310px;
      margin-left: auto;
      border-radius: 12px;
      cursor: pointer;
      text-align: center;
      justify-content: center;
    }
  }

}